:root {
  /* color */
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #457b9d;
  --secondary-color: #e67e22;
  /* #ACC8E5 */

  /* FONT WEIGHT */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* BORDER RADIUS */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* SITE MAC-WIDTH */
  --site-max-width: 1300px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100%;
}

/* HEADER */
.section-header {
  height: 100vh;
  /* bagaian section ini di gunakan utnuk menambahkan background image */
  background-size: cover;
  background-position: 10%;
  position: relative;
  margin-bottom: 9.6rem;

  background-image: linear-gradient(
      rgba(34, 34, 34, 0.1),
      rgba(34, 34, 34, 0.5)
    ),
    url(img/background-sekolah.jpeg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f8ff;
  height: 7.6rem;
  padding: 0 4.8rem;
  gap: 4.8rem;
  position: relative;
}

.nav-img {
  display: flex;
  gap: 0.8rem;
  justify-items: center;
  align-items: center;
}

.logo {
  height: 4.8rem;
}

.logo-text {
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #112a46;
  font-family: "Poppins", sans-serif;
}

/* NAVIGATION */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  /* font-size: 0.6rem; */
  padding-left: 0;
  gap: 3rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #112a46;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #3f3dc6;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  border-radius: 15px;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #2c73d2;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #0081cf;
}

.dropdown__menu {
  display: none;
  background-color: #f0f8ff;
}

.main-nav-list .main-nav-link:hover .dropdown__menu {
  display: block;
}

.heading-primary {
  margin-top: 0;
  font-size: 4.2rem;
  line-height: 1.05;
  margin-bottom: 3rem;
  margin-top: -0.5rem;
}

/* .sticky .section-header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
} */

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* HERO-SECTION  */

/* .hero-section {
  position: relative;
  /* overflow: hidden; */

/* .container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
} */
.hero-text {
  color: #ebf5fe;
  padding: 6.4rem 6.4rem 2.4rem 6.4rem;
  margin-bottom: 4.8rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.05;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  background-color: #0f2e4881;

  /* bottom: 32px;
  left: 50%;
  transform: translateX(-50%); */
  /* height: auto;
  overflow: hidden; */
}

form {
  position: relative;
  z-index: 1;
}

form input {
  width: 60%;
  min-height: 50px;
  padding: 1rem 1.8rem;
  border-radius: 30px;
  box-shadow: inherit;
  border: none;
  background-color: #fff;
  outline: none;
  transition: all 0.3s;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.05);
}

.form-control {
  /* display: block; */
  /* width: 100%; */
}

form button {
  background: #e67e22;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  height: 50px;
  margin: 0 !important;
  padding: 0 1.8rem;
  border: none;
}
