:root {
  /* color */
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #112a46;
  --primary-dark-color: #;
  --secondary-color: #f2c808;
  /* #ACC8E5 */

  /* FONT WEIGHT */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* BORDER RADIUS */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* SITE MAC-WIDTH */
  --site-max-width: 1300px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Monserrat", sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100%;
}

/* GENERAL REUSEABLE */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  /* row-gap: 9.6rem; */
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  /* color: #45260a; */

  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 4.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  margin-top: -0.5rem;
}

.heading-secondary {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 4.2rem;
  color: #333;
  /* margin-bottom: 3.2rem; */
}

/* HEADER */
.section-header {
  height: 100vh;
  /* bagaian section ini di gunakan utnuk menambahkan background image */
  background-size: cover;
  background-position: 10%;
  position: relative;
  margin-bottom: 9.6rem;

  background-image: linear-gradient(
      rgba(36, 36, 37, 0.1),
      rgba(30, 30, 33, 0.6)
    ),
    url(img/background-3.jpeg.jpeg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f8ff;
  height: 7.6rem;
  padding: 0 4.8rem;
  gap: 4.8rem;
  position: relative;
}

.nav-img {
  display: flex;
  gap: 0.8rem;
  justify-items: center;
  align-items: center;
}

.logo {
  height: 4.8rem;
}

.logo-text {
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #112a46;
  font-family: "Poppins", sans-serif;
}

/* NAVIGATION */

.main-nav {
  background-color: #fff;
  z-index: 999;
  position: relative;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #f0f8ff;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: #112a46;
  display: block;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
}

/* Styling dropdown menu */
.main-nav ul ul {
  position: absolute;
  top: 100%;
  display: none;
}

.main-nav ul ul li {
  display: block;
}

.main-nav li:hover ul {
  display: block;
}

.main-nav ul ul li a:hover {
  background-color: #0081cf;
}

.dropdown__menu {
  text-transform: none;
  font-size: 1rem;
  font-weight: 400;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  /* font-size: 0.6rem; */
  padding-left: 0;
  gap: 1rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #112a46;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #0e0bce;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  border-radius: 15px;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #2c73d2;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #0081cf;
}

.dropdown__menu {
  background-color: #f0f8ff;
}

.heading-selamat-datang {
  font-size: 2.8rem;
  line-height: 1.05;
  margin-bottom: 2rem;
  margin-top: -0.5rem;
  font-weight: 700;
  text-transform: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.heading-title {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 25px;
  text-transform: uppercase;
  margin-top: -8px;
  font-family: "Roboto Condensed", sans-serif;
}

.sticky .section-header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .hero-section {
  margin-top: 9.6rem;
}

/* HERO-SECTION  */

.hero-section {
  /* max-width:auto ;
  padding: 4.8rem 0 9.6rem 0;  */
}

.hero-text {
  /* padding: 6.4rem 6.4rem 2.4rem 6.4rem; */
  margin-bottom: 4.8rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.05;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  width: 100%;
  color: #ebf5fe;
  /* background-color: #16314781; */
}

form {
  position: relative;
  z-index: 1;
}

form input {
  width: 35%;
  min-height: 50px;
  padding: 1rem 1.8rem;
  border-radius: 30px;
  box-shadow: inherit;
  border: none;
  background-color: #fff;
  outline: none;
  transition: all 0.3s;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.05);
}

form button {
  background: #2c73d2;
  color: #fff;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight-semibold);
  height: 50px;
  margin: 0 !important;
  padding: 0 1.8rem;
  border: none;
  cursor: pointer;
}

/* PRINCIPAL-SECTION */

.sambutan-section {
  margin-top: 9.6rem;
  background-color: #f9f9f9;
  padding: 4.8rem 0 9.4rem 0;
  max-width: 1200;
  /* margin: 3.75rem; */
  /* margin: 60px; */
}

.principal {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.principal-text-box {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.principal-img-box {
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 20px;
  margin: 3rem;
}

p {
  color: #666;
  line-height: 2rem;
  margin: 0 0 1rem;
  text-transform: none;
  font-weight: 400;
}

figure {
  display: inline-block;
  /* border: 1px solid gray; */
  margin: 20px;
}

figure img {
  vertical-align: top;
}

.principal-caption {
  font-size: 1.1rem;
  /* border-radius: 20px; */
  text-transform: capitalize;
  font-weight: 500;
  color: #666;
  text-align: center;
}

.principal-img {
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 20px;
  margin-right: 3rem;
}

/* SECTION-BERITA */
section {
  margin: 5rem 0;
}

.news-section {
  margin-top: 9.6rem;
  background-color: #002147;
  padding: 4.8rem 0 9.4rem 0;
  max-width: 1200;
}

.title {
  margin-bottom: 90px;
  text-align: center;
}

.title .heading-secondary {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 600;
  color: #fff;
}

.title .heading-secondary:after {
  position: absolute;
  content: "";
  width: 60%;
  height: 3px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);
}

.news-section .news-items {
  margin-bottom: 50px;
}

.section-news-area .news-thumbnail {
  padding: 20px 0 0;
}

.news-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  /* background: #fff; */
}

/* .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
} */

.news-body {
  position: relative;
}
/* 
.news-thumbnail {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
} */

.news-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s;
}
.news-thumbnail .date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  background-color: #002147;
  color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
}

.news-thumbnail .date span.tgl {
  display: block;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: -10px;
}

.news-thumbnail .date span.tgl-desc {
  font-size: 10px;
}
.section-news-area .news-items .single-item {
  margin-bottom: 30px;
}

/* .section-news-area .news-items .item .news-content .single-item {
  background: #fff;
} */

.section-news-area .news-content p {
  font-size: 14px;
  color: #777777;
  line-height: 24px;
}

.section-news-area .news-body .news-admin {
  margin-bottom: 50px;
}

.section-news-area .news-items .thumb {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
